* {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-style: hidden;
}
td {
  border: 7px solid #000;
}

.one{
  height: 55px;
    border-bottom: 6px solid #000;
}

.two {
  height: 146px;
}

.three {
  height: 206px;
}

.four {
  height: 65px;
}
.five {
  height: 65px;
}
.six {
  height: 37px;
}

.seven {
  height: 30px;
}

.first {
  width: 55px;
  border-right: 6px solid #000;
}
.second {
  width:68px;
}
.third {
  width:68px;
}

.fourth {
  width: 137px;
}
.sixth {
  width: 76px;
}
.fifth {
  width: 76px;
}

.yellow {
  background-color: #fff664;
}

.black {
  background-color: #162620;
}

.red {
  background-color: #ff5b3e;
}

.blue {
  background-color: #0b4c91;
}
